Part2_WEB/DepartmentWithEJB/src/main/webapp/WEB-INF/wsdl/StudentStoreService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://ws.service.custom.com/" name="StudentStoreService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.service.custom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.service.custom.com/" schemaLocation="StudentStoreService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAll">
    <part name="parameters" element="tns:getAll"/>
  </message>
  <message name="getAllResponse">
    <part name="parameters" element="tns:getAllResponse"/>
  </message>
  <message name="getByOrderNumber">
    <part name="parameters" element="tns:getByOrderNumber"/>
  </message>
  <message name="getByOrderNumberResponse">
    <part name="parameters" element="tns:getByOrderNumberResponse"/>
  </message>
  <message name="deleteStudent">
    <part name="parameters" element="tns:deleteStudent"/>
  </message>
  <message name="deleteStudentResponse">
    <part name="parameters" element="tns:deleteStudentResponse"/>
  </message>
  <message name="updateStudent">
    <part name="parameters" element="tns:updateStudent"/>
  </message>
  <message name="updateStudentResponse">
    <part name="parameters" element="tns:updateStudentResponse"/>
  </message>
  <message name="saveStudent">
    <part name="parameters" element="tns:saveStudent"/>
  </message>
  <message name="saveStudentResponse">
    <part name="parameters" element="tns:saveStudentResponse"/>
  </message>
  <portType name="StudentStore">
    <operation name="getAll">
      <input wsam:Action="http://ws.service.custom.com/StudentStore/getAllRequest" message="tns:getAll"/>
      <output wsam:Action="http://ws.service.custom.com/StudentStore/getAllResponse" message="tns:getAllResponse"/>
    </operation>
    <operation name="getByOrderNumber">
      <input wsam:Action="http://ws.service.custom.com/StudentStore/getByOrderNumberRequest" message="tns:getByOrderNumber"/>
      <output wsam:Action="http://ws.service.custom.com/StudentStore/getByOrderNumberResponse" message="tns:getByOrderNumberResponse"/>
    </operation>
    <operation name="deleteStudent">
      <input wsam:Action="http://ws.service.custom.com/StudentStore/deleteStudentRequest" message="tns:deleteStudent"/>
      <output wsam:Action="http://ws.service.custom.com/StudentStore/deleteStudentResponse" message="tns:deleteStudentResponse"/>
    </operation>
    <operation name="updateStudent">
      <input wsam:Action="http://ws.service.custom.com/StudentStore/updateStudentRequest" message="tns:updateStudent"/>
      <output wsam:Action="http://ws.service.custom.com/StudentStore/updateStudentResponse" message="tns:updateStudentResponse"/>
    </operation>
    <operation name="saveStudent">
      <input wsam:Action="http://ws.service.custom.com/StudentStore/saveStudentRequest" message="tns:saveStudent"/>
      <output wsam:Action="http://ws.service.custom.com/StudentStore/saveStudentResponse" message="tns:saveStudentResponse"/>
    </operation>
  </portType>
  <binding name="StudentStoreBeanPortBinding" type="tns:StudentStore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getByOrderNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteStudent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateStudent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveStudent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="StudentStoreService">
    <port name="StudentStoreBeanPort" binding="tns:StudentStoreBeanPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

