JavaWeb/JavaEE__Base/jaxws/endpoint/src/main/webapp/WEB-INF/wsdl/StudentStoreImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://custom.com/" name="StudentStoreImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://custom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://custom.com/" schemaLocation="StudentStoreImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="welcomeMessage">
    <part name="parameters" element="tns:welcomeMessage"/>
  </message>
  <message name="welcomeMessageResponse">
    <part name="parameters" element="tns:welcomeMessageResponse"/>
  </message>
  <message name="findSurnames">
    <part name="parameters" element="tns:findSurnames"/>
  </message>
  <message name="findSurnamesResponse">
    <part name="parameters" element="tns:findSurnamesResponse"/>
  </message>
  <message name="saveStudent">
    <part name="parameters" element="tns:saveStudent"/>
  </message>
  <message name="saveStudentResponse">
    <part name="parameters" element="tns:saveStudentResponse"/>
  </message>
  <portType name="StudentStore">
    <operation name="welcomeMessage">
      <input wsam:Action="http://custom.com/StudentStore/welcomeMessageRequest" message="tns:welcomeMessage"/>
      <output wsam:Action="http://custom.com/StudentStore/welcomeMessageResponse" message="tns:welcomeMessageResponse"/>
    </operation>
    <operation name="findSurnames">
      <input wsam:Action="http://custom.com/StudentStore/findSurnamesRequest" message="tns:findSurnames"/>
      <output wsam:Action="http://custom.com/StudentStore/findSurnamesResponse" message="tns:findSurnamesResponse"/>
    </operation>
    <operation name="saveStudent">
      <input wsam:Action="http://custom.com/StudentStore/saveStudentRequest" message="tns:saveStudent"/>
      <output wsam:Action="http://custom.com/StudentStore/saveStudentResponse" message="tns:saveStudentResponse"/>
    </operation>
  </portType>
  <binding name="StudentStoreImplPortBinding" type="tns:StudentStore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="welcomeMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findSurnames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveStudent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="StudentStoreImplService">
    <port name="StudentStoreImplPort" binding="tns:StudentStoreImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

